<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <listener>
    <!--
        <listener-class>
        org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
        </listener-class>
    -->
    <listener-class>
      org.apache.tiles.web.startup.simple.SimpleTilesListener
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>joy</servlet-name>
    <servlet-class>org.joyframework.JoyServlet</servlet-class>
    <init-param>
      <param-name>bootstrap</param-name>
      <param-value>org.joyframework.ddu</param-value>
    </init-param>
    <init-param>
      <param-name>reload-allowed</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>

  <filter>
    <filter-name>upload</filter-name>
    <filter-class>org.joyframework.UploadFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>upload</filter-name>
    <servlet-name>joy</servlet-name>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>joy</servlet-name>
    <!--url-pattern>/*</url-pattern-->
    <url-pattern>/joy/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
